<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Presentation title
    %meta{:content => "Causes Engineering", :name => "author"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "reveal/css/reset.css", :rel => "stylesheet"}/
    %link{:href => "reveal/css/main.css", :rel => "stylesheet"}/
    %link{:href => "highlight/src/styles/solarized_dark.css", :rel => "stylesheet"}/
    %link{:href => "causes.css", :rel => "stylesheet"}/
    / overrides for default reveal styles
    :css
      .reveal pre {
        font-size: 24px;
      }
  %body#causes
    .reveal
      .slides

        %section
          %h2 JohnHenry Rails toolkit
          %h3
            %a{ href: '//github.com/derwiki/johnhenry' }
              github.com/derwiki/johnhenry
          %br
          %h5 presented by
          %h4 @derwiki


        %section
          %h2 We're going to keep the slides short
          %ul
            %li.fragment
              Slides kinda suck
            %li.fragment
              I want to build a web site with you
            %li.fragment
              Slides kinda suck

        %section
          %h2 JohnHenry Rails will save you time building web sites
          %ul
            %li.fragment
              I've got 63 projects on my personal Heroku
            %li.fragment
              Each new site was
              %i slightly
              better in some way
            %li.fragment
              Old projects never get backported
            %li.fragment
              Continually re-inventing the wheel

        %section
          %h2 JohnHenry Rails is a "Hackathon Jumpstart"
          %ul
            %li.fragment
              Rails engine
            %li.fragment
              Provides Bootstrap, Devise, Stripe, Google Analytics, etc
            %li.fragment
              Responsive login templates, payment forms, sign up forms
            %li.fragment
              All the boilerplate you needed to build anyway,
              up and running in &lt; 10 minutes

        %section
          %h2 What you start with
          %img{ src: 'https://raw.github.com/derwiki/johnhenry/master/screenshot-johnhenry.jpg', style: 'width: 100%;' }

        %section
          %h2 Heard of Kickoff Labs?
          %img{ src: "http://i.imgur.com/0yxzpp6.jpg", style: 'width: 100%;' }

        %section{ style: 'text-align: center;' }
          %img{ src: "http://i.imgur.com/uNdjiqA.jpg", style: 'height: 500px;' }

        %section
          %h3 github.com/derwiki/johnhenry
          %ul
            %li.fragment
              Detailed instructions
            %li.fragment
              Short screencast
            %li.fragment
              derewecki@gmail.com

        %section
          %h3 Live examples
          %ul
            %li.fragment
              JohnHenryRails.com
            %li.fragment
              PaidCodeReview.com
            %li.fragment
              DailySiteSnap.com
            %li.fragment
              EtsyTools.biz

      /
        required for correct operation of reveal.js,
        even if we don't want controls
      %aside.controls
        %a.left{:href => "#"} &#x25c4;
        %a.right{:href => "#"} &#x25ba;
        %a.up{:href => "#"} &#x25b2;
        %a.down{:href => "#"} &#x25bc;

    %script{:src => "reveal/js/reveal.min.js"}
    %script{:src => "highlight/build/highlight.pack.js"}
    :javascript
      Reveal.initialize({
        controls: false,
        progress: false,
        history: true,
        mouseWheel: false,
        rollingLinks: false,
      });
      hljs.initHighlightingOnLoad();
